body, html{
  width: 100%;
  height: 100%;
  position: static;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  min-width: 250px;
}

fieldset{
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.options{
  display: block;
  width: 100%;
  padding: 0 1em;
  text-align: center;
  font-size: 1em;
}

.options label{
  text-align: left;
}

.demo{
  display: block;
  width: 100%;
}

.wrap{
  height:300px;
  width: 92%;
  left: 4px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 0 6px rgba(100,100,100,0.2);
  margin: 0 auto;
}

.wrap div{
    padding:0.8em;
    background-color:#3498db;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2) inset;
    text-shadow:-1px -1px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    text-overflow:ellipsis;
    font: normal normal normal 1em/normal "Advent Pro", Helvetica, sans-serif;
    text-align: left;
}

.wrap strong{
  color:rgba(230,230,230,1);
  font-weight: normal;
  display: block;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .demo{
      font-size: 14px;
    }

    .options{
      font-size: 10px;
      padding: 0 0em;
    }

    .options label{
      font-size: 1.2em;
    }

    fieldset{
      padding: 0.5em;
    }

    fieldset strong{
      font-size: 1.4em;
    }

    .radio{
      padding-left: 22px
    }

}
